[submodule "src/ledger-user"]
	path = src/ledger-user
	url = https://github.com/cosmos/ledger-cosmos-app
[submodule "src/ledger-val"]
	path = src/ledger-val
	url = git@github.com:tendermint/ledger-validator-app.git
[submodule "deps/nanos-secure-sdk"]
	path = deps/nanos-secure-sdk
	url = git@github.com:LedgerHQ/nanos-secure-sdk.git
